
.property-edit {
    width: 4em;
    text-align: center;
    vertical-align: bottom;
    border: 1px solid antiquewhite;
    line-height: 30px;
}

/* Bulma override */
.field-label-half {
    flex-grow: 0.5;
}

.modal-content-half {
    width: 320px;
}

.block {
    display: block;
}